body{
	display:  flex;
	flex-direction:  column;
}
footer{
	margin-top:  auto;
}
@media screen and (max-width:  820px){
  	.card1 {
    width:  100%; 
    float:  none;
    margin-bottom:  20px;
  	}
  	.container1 {
  		width:  100%;
  		float:  none;
  	}
  	.cardcontainer{
  		width:  100%; 
  		float:  none;
  	}
}